<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/default.css" />
    <link rel="stylesheet" href="/css/home.css" />
  </head>

  <body>
    <div>
      <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create">Create user</a>
      </div>
      <div class="table-container">
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>User</th>
              <th>Email</th>
              <th>City</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% listUser.forEach((item, index) => { %>
            <tr>
              <td><%= item.id %></td>
              <td><%= item.name %></td>
              <td><%= item.email %></td>
              <td><%= item.city %></td>
              <td>
                <a href="/update?id=<%= item.id %>">
                  <button class="edit-btn">Edit</button>
                </a>
                <a href="/delete?id=<%= item.id %>">
                  <button class="remove-btn">Remove</button>
                </a>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
